@font-face {
 font-family: "DKSun";
 src: url("../FONTS/DK Lemon Yellow Sun.otf")
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
  background-image: url(../IMG/background/puzzleDiag.jpg);
  background-repeat: round space;
  background-attachment:fixed;
}

/*début logo & barre de recherche*/
#logorecherche {
  position: relative;
}

.logo {
  position: absolute;
  width: 17%;
  height: auto;
  margin-top: -55px;
}
#recherche {
  width: 364px;
  height: 50px;
  position: relative;
  margin-left: 50%;
}
#recherche input {
  resize: none;
  position: absolute;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px 10px;
}
#loupe {
  position: absolute;
  margin-left: 340px;
  margin-top: 5px;
}
#loupe svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
    float: right;
}
.panier {
  position: absolute;
  margin-left: 1050px;
  margin-top: 25px;
}
.panier svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #8d8d8f;
}
/*fin logo & barre de recherche*/
/*début barre de navigation*/
#acceuil {
  position: absolute;
  margin-left: 70px;
  margin-top: 20px;
}
#acceuil svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #8d8d8f;
}
nav {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(#F49E37, #F1E17F);
  box-shadow: 2px 2px 1px grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav ul {
  list-style: none;
  margin: auto;
  text-align: center;
  padding-top: 33px;
}
nav li {
  display: inline;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  font-size: 22px;
  font-family: DKSun;
  padding: 10px;
  margin: 4px;
}
a.decolien {
  text-decoration: none;
  color: black;
}
/*fin de la barre de navigation*/
/*début section home*/

#margetitre {
  width: 100%;
  height: 70px;
  margin: auto;
  padding-top: 50px;
  background-image: linear-gradient(#F1E17F, white);
}
#home {
  width: 100%;
  height: 2000px;
  background-color: rgba(255, 255, 255);
  position: relative;
}
#divimgsolde {
  width: 100%;
  height: 325px;
  padding-bottom: 100px;
}
.imgsolde {
  width: 100%;
  height: 100%;
}
/*#puzzlevente {
  width: 180px;
  height: 180px;
  position: absolute;
  margin-left: -180px;
  margin-top: 550px;
}
#puzzlepromo {
  width: 180px;
  height: 180px;
  position: absolute;
  margin-left: 140px;
  margin-top: 550px;
}*/

#fieldsettopvente {
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 7%;
  margin-right: 10px;
  width: 40%;
  height: 950px;
  position: absolute;
  z-index: 2;
  margin-top: 40%;
  border: solid 2px gray;
}

#fieldsettoppromo {
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 51%;
  margin-right: 10px;
  width: 40%;
  height: 950px;
  position: absolute;
  z-index: 2;
  margin-top: 40%;
  border: solid 2px gray;
}
.prixvente {
  font-family: DKSun;
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  background-color: rgb(0, 255, 164);
  border-style: solid;
  border-color: rgb(1, 140, 12);
  border-radius: 10px;
}
.prixvente:hover {
  background-color: rgb(8, 254, 136);
}
#prixvente1{
  margin-top: 600px;
  margin-left: 185px;
}
#prixvente2 {
  margin-top: 815px;
  margin-left: 205px;
}
#prixvente3 {
  margin-top: 1060px;
  margin-left: 205px;
}
#prixvente4 {
  margin-top: 1260px;
  margin-left: 80px;
}
.prixpromo {
  font-family: DKSun;
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  background-color: rgb(0, 255, 164);
  border-style: solid;
  border-color: rgb(1, 140, 12);
  border-radius: 10px;
}
.prixpromo:hover {
  background-color: rgb(8, 254, 136);
}
.price {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(255, 191, 0);
}
#prixpromo1 {
  margin-left: 500px;
  margin-top: 770px;
}
#prixpromo2 {
  margin-left: 860px;
  margin-top: 1000px;
}
#prixpromo3 {
  margin-left: 860px;
  margin-top: 1250px;
}
#prixpromo4 {
  margin-left: 860px;
  margin-top: 1490px;
}
#topvente {
  width: 170px;
  height: 900px;
  float: left;
  border-radius: 2px;
  margin-left: 350px;
  margin-top: 500px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
del {
  color: rgb(72, 72, 72);
  font-size: 22px;
}
.produitstopvente {
  width: 100%;
  height: 200px;


}
#toppromo {
  width: 170px;
  height: 900px;
  float: right;
  margin-right: 350px;
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/*
#titrevente {
  text-align: center;
  font-family: DKSun;
  font-size: 40px;
  position: absolute;
  z-index: 2;
  margin-left: 390px;
  margin-top: 610px;
}
#titrepromo {
  text-align: center;
  font-family: DKSun;
  font-size: 40px;
  position: absolute;
  z-index: 2;
  margin-left: 710px;
  margin-top: 610px;
}
*/
.produitstoppromo {
  width: 100%;
  height: 200px;
}
.imgtop {
  height: 100%;
  width: 100%;
}
.imghome {
  width: 150px;
  height: 200px;
}

.diapo {
  width: 100%;
  height: 310px;
  background-image: url("../IMG/logo/solde.png");
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;


  webkit-animation-name: diapo;
  webkit-animation-duration: 30s;
  webkit-animation-timing-function: linear;
  webkit-animation-iteration-count: infinite;
  webkit-animation-direction: normal;

  moz-animation-name: diapo;
  moz-animation-duration: 30s;
  moz-animation-timing-function: linear;
  moz-animation-iteration-count: infinite;
  moz-animation-direction: normal;


  animation-name: diapo;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@-moz-keyframes diapo{
  0%{background-image: url("../IMG/logo/promo2.jpg");}
  15%{background-image: url("../IMG/logo/promomickey.gif");}
  33%{background-image: url("../IMG/logo/promo3.png");}
  66%{background-image: url("../IMG/logo/promo4.jpg");}
}

@-webkit-keyframes diapo{
  0%{background-image: url("../IMG/logo/promo2.jpg");}
  15%{background-image: url("../IMG/logo/promomickey.gif");}
  33%{background-image: url("../IMG/logo/promo3.png");}
  66%{background-image: url("../IMG/logo/promo4.jpg");}
}


@keyframes diapo{
  0%{background-image: url("../IMG/logo/promo2.jpg");}
  15%{background-image: url("../IMG/logo/promomickey.gif");}
  33%{background-image: url("../IMG/logo/promo3.png");}
  66%{background-image: url("../IMG/logo/promo4.jpg");}
}

/*début section footer*/
.lienfooter {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
}
footer {
  width:100%;
  height: 200px;
  clear: both;
}
.fidel {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(#F1E17F, #F49E37);
  /*background-color: #F49E37;*/
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
.fidel p {
  margin: auto;
}
.fidelcarte {
  width: 250px;
  height: auto;
  margin-left: 50%;
  margin-top: 40px;
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
  position: absolute;
  /* Rotation du div */
  transform:rotate(15deg);
  -ms-transform:rotate(15deg); /* Internet Explorer */
  -moz-transform:rotate(15deg); /* Firefox */
  -webkit-transform:rotate(15deg); /* Safari et Chrome */
  -o-transform:rotate(15deg); /* Opera */
}

.lienfooter2 {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(#F49E37, #F1E17F);
}

#newsletter {
  background-image: linear-gradient(#F1E17F, white);
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
#newsletter button svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #EE8844;
}
#newsletter p {
  margin: auto;
}
#reseau {
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
  padding-top: 1px;
}
.borderreseau {
  border-radius: 10px;
  width: 30%;
  height: 80px;
  margin-left: 10px;
  font-family: DKSun;
  text-align: center;
}
/*couleur icone reseaux: */
footer svg:not(:root).svg-inline--fa {
   overflow: visible;
   color: #f49e37;
}
#mention {
  width: 100%;
  height: 80px;
  background-image: linear-gradient( #F1E17F, #F49E37);
  box-shadow: 2px 2px 1px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 70px;
}
#mention p {
  margin: auto;
}

/*fin section footer*/
