@font-face {
 font-family: "DKSun";
 src: url("../FONTS/DK Lemon Yellow Sun.otf")
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
  background-image: url(../IMG/background/puzzleDiag.jpg);
  background-repeat: round space;
  background-attachment:fixed;
}

/*début logo & barre de recherche*/
#logorecherche {
  position: relative;
}

.logo {
  position: absolute;
  width: 17%;
  height: auto;
  margin-top: -55px;
}
#recherche {
  width: 364px;
  height: 50px;
  position: relative;
  margin-left: 50%;
}
#recherche input {
  resize: none;
  position: absolute;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px 10px;
}
#loupe {
  position: absolute;
  margin-left: 340px;
  margin-top: 5px;
}
#loupe svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
    float: right;
}
.panier {
  position: absolute;
  margin-left: 1050px;
  margin-top: 25px;
}
.panier svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #8d8d8f;
}
/*fin logo & barre de recherche*/
/*début barre de navigation*/
#acceuil {
  position: absolute;
  margin-left: 70px;
  margin-top: 20px;
}
#acceuil svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #8d8d8f;
}
nav {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(#F49E37, #F1E17F);
  box-shadow: 2px 2px 1px grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav ul {
  list-style: none;
  margin: auto;
  text-align: center;
  padding-top: 33px;
}
nav li {
  display: inline;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  font-size: 22px;
  font-family: DKSun;
  padding: 10px;
  margin: 4px;
}
a.decolien {
  text-decoration: none;
  color: black;
}
/*fin de la barre de navigation*/

/*début section contact*/
#contact {
  border: 1px solid black;
  width: 100%;
  height: 700px;
}
/*fin section contact*/
/*début section footer*/
.lienfooter {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
}
footer {
  width:100%;
  height: 200px;
  clear: both;
}
.fidel {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(#F1E17F, #F49E37);
  /*background-color: #F49E37;*/
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
.fidel p {
  margin: auto;
}
.fidelcarte {
  width: 250px;
  height: auto;
  margin-left: 50%;
  margin-top: 40px;
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
  position: absolute;
  /* Rotation du div */
  transform:rotate(15deg);
  -ms-transform:rotate(15deg); /* Internet Explorer */
  -moz-transform:rotate(15deg); /* Firefox */
  -webkit-transform:rotate(15deg); /* Safari et Chrome */
  -o-transform:rotate(15deg); /* Opera */
}

.lienfooter2 {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(#F49E37, white);
}
#newsletter {
  background-color: white;
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
#newsletter button svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #EE8844;
}
#newsletter p {
  margin: auto;
}
#reseau {
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
  padding-top: 1px;
}
/*couleur icone reseaux: */
footer svg:not(:root).svg-inline--fa {
   overflow: visible;
   color: #f49e37;
}
#mention {
  width: 100%;
  height: 80px;
  background-image: linear-gradient( #F1E17F, #F49E37);
  box-shadow: 2px 2px 1px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 70px;
}
#mention p {
  margin: auto;
}

/*fin section footer*/

/**************** PAGE FILLE *******************/

#univers {
  width:100%;
  height: 1750px;
  background-color: white;
  box-shadow: 2px 2px 1px grey;
}
#titrefille {
  width: 100%;
  height: 70px;
  margin: auto;
  padding-top: 50px;
  background-image: linear-gradient(#F1E17F, white);
}

h1 {
  font-family: DKSun;
  font-size: 45px;
  font-weight: bold;
  color: #c4127d;           /***changement page couleur FONCE***/
  text-align: center;
  text-shadow: 2px 2px 1px grey;
  text-transform: uppercase;
  cursor: default;
  margin: auto;
}
/*debut filtre*/
#filtre {
  width: 22%;
  height: auto;
  /*float: left;*/
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
  background-image: linear-gradient(#DDDDE0, #B5B5B8);
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
}
#filtre h3 {
  font-family: DKSun;
  font-size: 22px;
  text-align: center;
  background-color: #c4127d;/***changement page couleur FONCE***/
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: default;
}
fieldset{
  border-radius: 10px;
  border-color: #c4127d; /***changement page couleur FONCE***/
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#filtre h4 {
  color: #c4127d;  /***changement page couleur FONCE***/
  font-weight: bold;
  cursor: default;
}
#filtre div {
  margin-left: 38px;
  list-style: none;
}
#filtre li:hover {
  color: #c4127d; /***changement page couleur FONCE***/
  text-decoration: underline;
  list-style: none;
  cursor: pointer;
}
#filtre input {
  width: auto;
}

#filtre label {
  padding-left: 10px;
}
.voirplus {
  text-decoration: underline;
  margin-left: 40px;
}

/*debut grille flexbox */
#flexboxproduit {
  width: 60%;
  height: 100% auto;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: white;
  margin-left: 400px;
  border-radius: 10px;
}
/*debut produit : img+contenu*/
.produit {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 26px;
  margin-left: 0;
}
.produit img {
  width: 200px;
  height: 200px;
}
.contenuproduit {
  width: 200px;
  height: auto;
  margin-top: 10px;

  text-align: center;
  background-color: white;
  cursor: default;
}
.nomproduit {
  font-weight: bold;
  font-size: 16px;
}
.marque {
  font-size: 14px;
  margin-bottom: 5px;
}
.descriptif {
  font-size: 14px;
  margin: 0 0;
}
.ref{
  font-size: 14px;
  margin-top: 5px;
}
.prix {
  color: #c4127d;/***changement page couleur FONCE***/
  font-weight: bold;
  font-size: 18px;
}
.stock {
  color: #c4127d;/***changement page couleur FONCE***/
  font-size: 14px;
  font-weight: bold;
}
.epuise {
  color: #f49e37;
  font-weight: bold;
  font-size: 14px;
}

.ajoutpanier {
  display:block;
  width:170px;
  line-height:30px;
  background-color: #f49cf1; /***changement page couleur CLAIR***/
  text-decoration:none;
  border-radius: 10px;
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin-left: 10px;

}
.ajoutpanier:hover {
  background-color: #c4127d;/***changement page couleur FONCE***/
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.ajoutpanier:active {
  background-color: #c4127d;/***changement page couleur FONCE***/
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 3s;
  color: white;
}


/***fin page fille ***/
