body {
  padding: 0;
  margin: 50px;
  background-color: rgb(142, 249, 137);
}

/*début logo & barre de recherche*/
.logo{
  float: left;
  position: absolute;
  width: 20%;
  height: auto;
}
#recherche {
  border: 1px solid black;
  width: 350px;
  height: 50px;
  position: relative;
  margin-left: 50%;
}
textarea {
  resize: none;
  position: absolute;
  width: 300px;
}
#loupe {
  float: right;
}
#loupe svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
    float: right;
}
.panier {
  float: right;margin-top: 0%;
}
.panier svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #8d8d8f;
}
/*fin logo & barre de recherche*/
/*début barre de navigation*/
nav {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  background-color: orange;
}
nav ul {
  list-style: none;
  border: 1px solid red;
  margin: auto;
  text-align: center;
  margin-top: 33px;
}
nav li {
  display: inline;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  border: 1px solid blue;
  font-size: larger;
}
a.decolien {
  text-decoration: none;
}
/*fin de la barre de navigation*/
/*début section home*/
#home {
  border: 1px solid black;
  width: 100%;
  height: 700px;
  background-color: rgb(107, 168, 115);
}
.imghome {
  width: 150px;
  height: 200px;
}

.diapo {
  border: 1px solid black;
  width: 960px;
  height: 500px;
  background-image: url("../IMG/ch.jpg");

  webkit-animation-name: diapo;
  webkit-animation-duration: 30s;
  webkit-animation-timing-function: linear;
  webkit-animation-iteration-count: infinite;
  webkit-animation-direction: normal;

  moz-animation-name: diapo;
  moz-animation-duration: 30s;
  moz-animation-timing-function: linear;
  moz-animation-iteration-count: infinite;
  moz-animation-direction: normal;


  animation-name: diapo;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@-moz-keyframes diapo{
  0%{background-image: url("../IMG/ch2.jpg");}
  33%{background-image: url("../IMG/ch3.jpeg");}
  66%{background-image: url("../IMG/ch4.jpg");}
}

@-webkit-keyframes diapo{
  0%{background-image: url("../IMG/ch2.jpg");}
  33%{background-image: url("../IMG/ch3.jpeg");}
  66%{background-image: url("../IMG/ch4.jpg");}
}


@keyframes diapo{
  0%{background-image: url("../IMG/ch2.jpg");}
  33%{background-image: url("../IMG/ch3.jpeg");}
  66%{background-image: url("../IMG/ch4.jpg");}
}


/*début section contact*/
#contact {
  border: 1px solid black;
  width: 100%;
  height: 700px;
}
/*fin section contact*/
/*début section footer*/
footer {
  border: 1px solid black;
  width: 100%;
  height: 50px;
}
 /*couleur icone reseaux: */
footer svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
}

/*fin section footer*/
