@font-face {
 font-family: "DKSun";
 src: url("../FONTS/DK Lemon Yellow Sun.otf")
}



body {
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  background-color: red;
}

/*début logo & barre de recherche*/
#logorecherche {
  position: relative;
}

.logo{
  position: absolute;
  width: 17%;
  height: auto;
  margin-top: -55px;
}
#recherche {
  width: 364px;
  height: 50px;
  position: relative;
  margin-left: 50%;
}
input {
  resize: none;
  position: absolute;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px 10px;
}
#loupe {
  float: right;
  position: absolute;
  margin-left: 330px;
}
#loupe svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
    float: right;
}
.panier {
  position: absolute;
  margin-left: 88%;
  margin-top: -55px;
}
.panier svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #8d8d8f;
}
/*fin logo & barre de recherche*/
/*début barre de navigation*/
nav {
  width: 100%;
  height: 100px;
  background-color: #FAB426;
}
nav ul {
  list-style: none;
  margin: auto;
  text-align: center;
  padding-top: 33px;
}
nav li {
  display: inline;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  font-size: 24px;
  font-family: DKSun;
  padding: 10px;
}
a.decolien {
  text-decoration: none;
}
/*fin de la barre de navigation*/

/*début section contact*/
#contact {
  border: 1px solid black;
  width: 100%;
  height: 700px;
}
/*fin section contact*/
/*début section footer*/
footer {
  width:100%;
  height: 200px;
  clear: both;
}
.fidel {
  width: 100%;
  height: 450px;
  background-color: #f49e37;
  box-shadow: 0px 10px 15px black;
  font-family: DKSun;
}
.fidel p {
  margin: auto;
}
.fidelcarte {
  width: 500px;
  height: auto;
  margin-left: 25%;
  margin-top: 40px;
  box-shadow: 0px 10px 15px black;
  border-radius: 10px;
  position: absolute;
}
.fidelpuzzle {
  width: 150px;
  height: 150px;
  float: left;
  position: absolute;
  margin-top: 50px;
}
.newsletter {
  background-color: #8d8d8f;
  width: 100%;
  height: 150px;
  box-shadow: 0px 10px 15px black;
  font-family: DKSun;
}
.newsletter button svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #EE8844;
}
.mention {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 10px 15px black;
  margin-bottom: 70px;
}
.newsletter p {
  margin: auto;
}

.mention p {
  margin: auto;
}
/*fin section footer*/
