@font-face {
 font-family: "DKSun";
 src: url("../FONTS/DK Lemon Yellow Sun.otf")
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
  background-image: url(../IMG/background/puzzleDiag.jpg);
  background-repeat: round space;
  background-attachment:fixed;
}

/*début logo & barre de recherche*/
#logorecherche {
  position: relative;
}

.logo {
  position: absolute;
  width: 17%;
  height: auto;
  margin-top: -55px;
}
#recherche {
  width: 364px;
  height: 50px;
  position: relative;
  margin-left: 50%;
}
#recherche input {
  resize: none;
  position: absolute;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px 10px;
}
#loupe {
  position: absolute;
  margin-left: 340px;
  margin-top: 5px;
}
#loupe svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #EE8844;
    float: right;
}
.panier {
  position: absolute;
  margin-left: 1050px;
  margin-top: 25px;
}
.panier svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #8d8d8f;
}
/*fin logo & barre de recherche*/
/*début barre de navigation*/
#acceuil {
  position: absolute;
  margin-left: 70px;
  margin-top: 20px;
}
#acceuil svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #8d8d8f;
}
nav {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(#F49E37, #F1E17F);
  box-shadow: 2px 2px 1px grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav ul {
  list-style: none;
  margin: auto;
  text-align: center;
  padding-top: 33px;
}
nav li {
  display: inline;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
  font-size: 22px;
  font-family: DKSun;
  padding: 10px;
  margin: 4px;
}
a.decolien {
  text-decoration: none;
  color: black;
}
/*fin de la barre de navigation*/
/*début section contact*/
#titrecontact {
  width: 100%;
  height: 70px;
  margin: auto;
  padding-top: 50px;
  background-image: linear-gradient(#F1E17F, white);
}

#contactnous {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 1px grey;
}

h1{
  font-family: DKSun;
  font-size: 45px;
  font-weight: bold;
  color: grey;           /***changement page couleur FONCE***/
  text-align: center;
  text-shadow: 2px 2px 1px grey;
  text-transform: uppercase;
  cursor: default;
  margin: auto;
}

/* debut formulaire */
.secondcontact{
  width: 800px;
  height: 800px;
  /* border: 1px solid black; */
  margin-left: 600px;
  margin-bottom: 10px;
  position: relative;
  top: 34px;
  margin-top: -50px;
}
.formulaire{
  width: 350px;
  height: 500px;
  margin-left: 80px;
  background-image: linear-gradient(#DDDDE0, #B5B5B8);
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
}

.premierlignenom{
  position: absolute;
  margin-top: 30px;

}
.premierlignenomdroite{
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
  top: 23px;
}

.premierligneprenom{
  position: absolute;
  margin-top: 50px;
}
.premierligneprenomdroite{
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 45px;
}
.hommeoufemme{
  position: absolute;
  margin-top: 70px;
}
.hommeoufemmedroite{
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 70px;
}
.hommeoufemmedroite2{
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 5px;
}
.améliorer{
  position: absolute;
  margin-top: 70px;
}
.améliorerdroite{
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 70px;
}
.letter{
  position: absolute;
  margin-top: 50px;
}
.letterdroite{
  margin-left: 100px;
  margin-top: 50px;
}
.envoi{
  position: absolute;
  margin-top: 50px;
  margin-left: 300px;
}
.envoidroite{
  /* position: absolute; */
  margin-left: 100px;
  margin-top: 40px;
}
/* fin du formulaire */
/* debut logo */
#log {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 25%;

}
#text{
  margin-top: 58px;
  margin-bottom: 135px;
  font-family: DKSun;
  text-transform: lowercase;
  color: black;
  }
.logocontact{
  width: 200px;
  height: 500px;
  /* border: 1px solid black; */
  margin-top: -800px;
  color: #B5B5B8;
  margin-left: 50px
}
.textcontact{
  width: 350px;
  height: 500px;
  /* border: 1px solid black; */
  margin-left: 250px;
  margin-top: -494px;
}


/*fin section contact*/
/*début section footer*/
.lienfooter {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
}
footer {
  width:100%;
  height: 200px;
  clear: both;
}
.fidel {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(#F1E17F, #F49E37);
  /*background-color: #F49E37;*/
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
.fidel p {
  margin: auto;
}
.fidelcarte {
  width: 250px;
  height: auto;
  margin-left: 50%;
  margin-top: 40px;
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
  position: absolute;
  /* Rotation du div */
  transform:rotate(15deg);
  -ms-transform:rotate(15deg); /* Internet Explorer */
  -moz-transform:rotate(15deg); /* Firefox */
  -webkit-transform:rotate(15deg); /* Safari et Chrome */
  -o-transform:rotate(15deg); /* Opera */
}

.lienfooter2 {
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(#F49E37, white);
}
#newsletter {
  background-color: white;
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  font-family: DKSun;
}
#newsletter button svg:not(:root).svg-inline--fa {
  overflow: visible;
  color: #EE8844;
}
#newsletter p {
  margin: auto;
}
#reseau {
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(white, #F1E17F);
  padding-top: 1px;
}
/*couleur icone reseaux: */
footer svg:not(:root).svg-inline--fa {
   overflow: visible;
   color: #f49e37;
}
#mention {
  width: 100%;
  height: 80px;
  background-image: linear-gradient( #F1E17F, #F49E37);
  box-shadow: 2px 2px 1px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 70px;
}
#mention p {
  margin: auto;
}

/*fin section footer*/




}
